.navbar {
  border-bottom: 1px solid $light-grey;
  height: 70px;

  .navbar-brand {
    color: $primary !important;
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: bold;
    margin-left: 50px;
  }
  
  a.nav-link {
    color: $primary !important;
  
    &:hover {
      color:$info !important;
    }
  }
  
  a.nav-link.active {
    font-weight: 500;
  }
}
