body {
  font-family: 'Poppins', Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  height: 100%;
}

.container-fluid {
  height: 100%;
}
