.title {
  color: $dusk-grey;
  font-weight: 500;
  margin-bottom: 20px !important;
}

.panel-title {
  font-size: 16px;
  letter-spacing: 1.4px;
  margin-bottom: 0 !important;
  text-transform: uppercase;
}

.sub-title {
  margin-bottom: 30px;
}