$danger: #fd397a !default;
$dark-grey: #38383808;
$dusk-grey: #48465b;
$dusk-purple:  #646c9a;
$fa-font-path: "font-awesome/fonts" !default;
$grey: #595d6e;
$info: #5578eb;
$light-dusk-purple: #bec3d7;
$light-dusk-purple-two: #f7f7fb;
$light-grey: #e8ebf5;
$light-grey2: #898c9a;
$light-grey3: #e6eaf5;
$light-primary: #f0f2f9;
$primary: #2e59d9! default;
$red: #b91e3a;
$secondary: #f9f9fc !default;
$success: #1dc9b7 !default;
$warning: #ffb822 !default;
