<nav class="col-md-2 d-none d-md-block sidebar p-0">
  <div class="sidebar-sticky margin-top-50">
    <ul class="nav flex-column">
      <li class="nav-item <%= request.path == '/' ? 'active' : '' %>">
        <%= link_to root_path, class: "nav-link", target: "_top" do %>
          <i class="fa fa-home"></i> <%= t('labels.dashboard') %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
