<% content_for :breadcrumb do %>
  <div class="col-12 no-padding">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">
          <%= link_to root_path, target: "_top" do %>
            <span>Dashboard</span>
          <% end %>
        </li>

        <li class="breadcrumb-item active" aria-current="page">
          <%= link_to books_path, target: "_top" do %>
            <span>Books</span>
          <% end %>
        </li>

        <li class="breadcrumb-item active" aria-current="page">
          <span>New Book</span>
        </li>
      </ol>
    </nav>
  </div>
<% end %>

<div class="card card__custom mb-4">
  <div class="card-header">
    <div class="row">
      <div class="col-6">
        <h4>New Book</h4>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <%= form_for :book, url: books_path, method: :post do |f| %>
          <%= render 'form', book: @book, f: f %>
        <% end %>
      </div>
    </div>
  </div>
</div>
