.breadcrumb {
  background-color: transparent;

  .breadcrumb-item {
    font-size: 14px;
  }

  .breadcrumb-item.active {
    color: $grey;
    font-weight: 500;
    margin-left: 8px;

    span {
      margin-left: 4px;
    }
  }

  .breadcrumb-item a {
    -webkit-transition: all .3s;
    color: $light-dusk-purple;
    font-weight: 500;
    padding: 0 0 0 .35rem;
    transition: all .3s;

    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }
}

